nav{
    height: 70px;
    
    display: flex;                          /* вече не е блок и може да е на същия ред с други елементи */
    align-items: center;                    /* центрира ги логото и линковете */
    justify-content: space-between;         /* прави място между блоковете единия блок е имиджа а другия unOrdered list */
    padding: 0 2rem;                        

}

nav .brand{
    display: flex;
    align-items: center;
}

nav .brand img{
    height: 50px;
    margin: 0 5px;

}
nav .brand a{
    color:white;
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
}

nav ul{
    display: flex;              /* блоковете list items ги направи флекс да са на един ред */
    
}

nav ul li{
    list-style: none;           /* маха точките на листа */
    margin: 0 10px;
    font-size: 1.25rem;
}

nav ul li a{
    text-decoration: none;
    color: #ddd;
    padding: 5px;
    position: relative;             /*прави връзка на  всеки елемент с долната черта */

}

nav ul li a:hover{
    color: white;
}

nav ul li a::after                  /* долната черта под нав елементите */
{
    content: '';
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: .3s ;
    /* transform-origin: left;   the line to start from left or something else*/
}

nav ul li a:hover::after{
    transform: scaleX(1);
}

nav .fa{
    color: #fff;
    font-size: 2rem;
    display: none;
}

@media screen and (max-width:600px){

    nav .fa{
        display: block;
    }

    nav ul .fa{
        margin-bottom: 30px;
    }

    nav .brand img{
        height: 40px;
    }
    nav .bran a{
        font-size: 1.2rem;
    }
    nav ul{
        flex-direction: column;
        position: absolute;
        top:0;
        right: 0;
        width: 35%;
        background-color: red;
        padding: 10px;
        height: 100vh;
        z-index: 99;
        transform: scaleX(0);
        transition: .2s ease-in;
        transform-origin: right;
    }

nav ul.menu{
    transform: scaleX(1);
}

nav ul li{
    margin-top: 10;
}

    nav ul li a{
        font-size: 1rem;
        font-weight: bold;
    }
}
    

